In [6]:
--1. feladat
https://github.com/KucziDorczi/sql.git

: Msg 8120, Level 16, State 1, Line 3
Column 'szallashely.SZALLAS_ID' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [8]:
--2. feladat
SELECT szh.SZALLAS_ID, szh.SZALLAS_NEV, COUNT(KLIMAS) AS "db"
FROM szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK
WHERE KLIMAS IS NOT NULL
GROUP BY szh.SZALLAS_ID

: Msg 8120, Level 16, State 1, Line 2
Column 'szallashely.SZALLAS_NEV' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [9]:
--3. feladat

SELECT SZOBA_FK AS 'Szoba azonosító', YEAR(METTOL) as "Év", COUNT(FOGLALAS_PK) AS "Foglalások száma"
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
WHERE sz.SZOBA_SZAMA % 2 <> 0
GROUP  BY sz.SZALLAS_FK, YEAR(METTOL)
HAVING COUNT(f.SZOBA_FK) > 10

: Msg 8120, Level 16, State 1, Line 3
Column 'Foglalas.SZOBA_FK' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.